.navbar-nav .nav-item {
  max-width: 350px !important;
  min-width: 250px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.nav-item:hover {
  background-color: var(--main-second-trans-color);
  cursor: pointer;
}
.nav-item .nav-link {
  color: rgb(59, 59, 59) !important;
}
.nav-link.active {
  width: 100%;
  background-color: var(--main-second-trans-color) !important;
}
.nav-item:hover .nav-link {
  color: black !important;
}
.list-group-item.active {
  background-color: var(--main-second-trans-color) !important;
  color: black;
  border-color: gray;
}