:root {
  --main-prim-color: #966dd0;
  --main-prim-trans-color: #966dd091;
  --main-second-color: #d1f5dc;
  --main-second-trans-color: #D9FFE3;
}

.bg-prim {
  background-color: var(--main-prim-color);
}
.bg-prim-trans {
  background-color: var(--main-prim-trans-color);
}
.color-prim-transp {
  color: var(--main-prim-color);
}
.scrollable {
  overflow-y: scroll;
}
.btn-outline-secondary.dropdown-toggle.show {
  background-color: var(--main-prim-trans-color) !important;
}