:root {
  --main-body-bg-color: #ffebd6;
  --main-prim-color: #966dd0;
  --main-prim-trans-color: #966dd091;
  --main-second-color: #d1f5dc;
  --main-second-trans-color: #D9FFE3;
}

.bg-body {
  /*background: linear-gradient(white 4%, #c6cedf 100%);*/
  /*background-color: var(--main-body-bg-color) !important;*/
  background-color: #f7fdfd !important;
}
.bg-prim {
  background-color: var(--main-prim-color);
}
.bg-prim-trans {
  background-color: var(--main-prim-trans-color);
}
.card-header {
  background-color: rgb(79, 136, 202);
  color: white;
  padding-bottom: 0;
  padding-top: 0;
}
.color-prim-transp {
  color: var(--main-prim-color);
}
.scrollable {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
.scrollable-horizontal {
  overflow-y: hidden !important;
  overflow-x: scroll !important;
}
.overflow-hidden {
  overflow-y: hidden;
}
.btn-outline-secondary.dropdown-toggle.show {
  background-color: var(--main-prim-trans-color) !important;
}
.abcRioButtonContentWrapper {
  padding-top: 1%;
  padding-left: 1%;
}
.index-on-top {
  z-index: 20000;
}
#my-signin2 {
  width: 100%;
}
#my-signin2 > div {
  margin: 0 auto;
  /*background-color: var(--main-prim-color);*/
  /*color: black;*/
  font-family: inherit;
  border-radius: .25rem;
}